  <li><%= link_to("<span class='heart'></span><span>Programação</span>",'/'+profile.identifier+'/programacao')%></li>
  <li><%= link_to("<span class='heart'></span><span>Informações</span>",'/'+profile.identifier+'/informacoes')%></li>
  <li><%= link_to("<span class='heart'></span><span>Código de Conduta</span>",'/'+profile.identifier+'/codigo-de-conduta')%></li>
  <li><%= link_to("<span class='heart'></span><span>Parceiros</span>",'/'+profile.identifier+'/parceiros')%></li>
  <li><%= link_to("<span class='heart'></span><span>FAQ</span>",'/'+profile.identifier+'/faq')%></li>
  <li><%= link_to("<span class='heart'></span><span>Equipe</span>",'/'+profile.identifier+'/equipe')%></li>

